/* Paleta de colores */
:root {
  --puerto-rico-50: #f1fcf8;
  --puerto-rico-100: #d0f7eb;
  --puerto-rico-200: #a1eed8;
  --puerto-rico-300: #69dfc1;
  --puerto-rico-400: #4bcbaf;
  --puerto-rico-500: #21ab8e;
  --puerto-rico-600: #188974;
  --puerto-rico-700: #176e5f;
  --puerto-rico-800: #17584e;
  --puerto-rico-900: #184941;
  --puerto-rico-950: #082b28;
}

/* Reset de estilos y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  background-color: var(--puerto-rico-50);
  color: var(--puerto-rico-900);
}

/* Encabezado */
header {
  background-color: #ffffff;
  color: var(--puerto-rico-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid var(--puerto-rico-950);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Logo */
.logo-pagina img {
  max-width: 144px;
}

/* Menú de navegación */
nav ul.menu {
  list-style: none;
  display: flex;
}

nav ul.menu li {
  margin: 0 20px;
}

nav ul.menu li a {
  text-decoration: none;
  color: var(--puerto-rico-900);
  font-weight: bold;
  transition: all 0.3s ease;
}

nav ul.menu li a:hover {
  color: var(--puerto-rico-400);
}

/* Acciones del usuario */
.acciones-del-usuario {
  display: flex;
  align-items: center;
}

.acciones-del-usuario input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--puerto-rico-950);
  margin: 0 5px;
  background-image: url(../IMG/LOGOS/search-gris.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.acciones-del-usuario input[type="text"]:focus {
  border: 1px solid var(--puerto-rico-400);
  outline: none;
  background-image: url(../IMG/LOGOS/search-verde.png);
}

.acciones-del-usuario a {
  text-decoration: none;
  color: var(--puerto-rico-900);
  margin: 0 5px;
}

/* Resultados de búsqueda */
.resultados-busqueda {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sin-resultados {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

/* Icono de usuario */
.icono-usuario img {
  width: 30px;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.icono-usuario:hover img {
  content: url(../IMG/LOGOS/user-verde.png);
  opacity: 0.8;
}

/* Contenedor del carrito */
.icono-carrito {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/* Contador del carrito */
.icono-carrito .contador-carrito {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--puerto-rico-900);
  color: #ffffff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Icono del carrito */
.icono-carrito img {
  width: 30px;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.icono-carrito:hover img[alt="Carrito de compras"] {
  content: url(../IMG/LOGOS/cart-verde.png);
  opacity: 0.8;
}

/* Área del carrito desplegable */
.contenido-carrito {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 340px;
  transition: opacity 0.3s ease, height 0.3s ease;
  padding: 10px;
  box-sizing: border-box;
}

/* Productos en el carrito */
.cart-items {
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--puerto-rico-950);
  padding: 10px;
}

.cart-item:last-child {
  background-color: var(--puerto-rico-50);
  border-bottom: none;
}

.cart-item .imagen-carrito {
  width: 40%;
  aspect-ratio: 4/5;
  object-fit: contain;
  margin-right: 10px;
}

/* Estilos para el botón de borrar en el carrito */
.boton-borrar img {
  cursor: pointer;
  max-width: 20px;
  margin-left: 10px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px solid var(--puerto-rico-950);
  padding: 10px;
}

.boton-tramitar {
  background-color: var(--puerto-rico-900);
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.boton-tramitar:hover {
  background-color: var(--puerto-rico-400);
}

/* Estilos para la sección de Destacados de Juegos */
main {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 20px 20px 0 20px;
}

.destacados {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 20px 0 20px;
}

.destacados-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 20px 0 20px;
}

.destacados-header .titulo {
  margin: 10px 0 0 20px;
  color: var(--puerto-rico-900);
}

.destacados-header .introduccion {
  margin: 10px 0 20px 20px;
  color: var(--puerto-rico-900);
}

/* Estilos para el elemento select */
.destacados-header .filtrar-ordenar {
  position: absolute;
  right: 40px;
  margin-top: 38px;
}

.destacados-header select {
  background: #ffffff url(../IMG/LOGOS/down-arrow-gris-claro.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  color: #757575;
  font-size: 14px;
  height: 30px;
  width: 140px;
  padding-left: 5px;
  margin-top: 10px;
  border: 1px solid #082b28;
  cursor: pointer;
  -webkit-appearance: none; /* Propiedad específica de WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Propiedad específica de Mozilla (Firefox) */
  appearance: none;
  outline: none;
  transition: all 0.3s ease;
}

.destacados-header select:hover {
  background: #ffffff url(../IMG/LOGOS/down-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  border: 1px solid #4bcbaf;
}

.destacados-header select:focus {
  border: 1px solid #4bcbaf;
  background: #ffffff url(../IMG/LOGOS/collapse-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
}

/* Estilos para la etiqueta "label" */
.destacados-header label {
  margin-right: 10px;
}

/* Estilos para cada juego destacado */
.juego-destacado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Aumenta este valor para hacer los productos más grandes */
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.juego-destacado:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  z-index: 1;
}

.juego-destacado .web-page {
  color: #184941;
  text-decoration: none;
}

.juego-destacado img {
  width: 80%;
  aspect-ratio: 4/5;
  object-fit: contain;
}

.juego-destacado .datos-juego {
  margin: 10px 0;
}

.precio-con-descuento {
  font-weight: bold;
  font-size: 18px;
}

.precio-original {
  text-decoration: line-through;
  font-size: 14px;
}

/* Estilos para la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Muestra 4 columnas por fila */
}

.product-grid-desplegable {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Muestra 5 columnas por fila */
}

/* Estilo inicial para la descripción que estará oculta */
.descripcion-hover {
  display: none;
  font-size: 14px;
  transition: font-size 0.3s ease, opacity 0.3s ease;
}

.juego-destacado:hover .descripcion-hover {
  display: block;
  font-size: 12px;
}

/* Estilos para el botón "Añadir al carrito" */
.btn-anadir-carrito {
  display: none;
  max-width: 50%;
  padding: 5px 10px;
  background-color: var(--puerto-rico-900);
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.juego-destacado:hover .btn-anadir-carrito {
  display: inline-block;
}

.btn-anadir-carrito:hover {
  background-color: var(--puerto-rico-400);
}

.destacados-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.page-selector {
  display: flex;
  align-items: center;
  padding: 20px;
}

.page-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.page-selector li {
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-selector li:hover {
  color: #4bcbaf;
}

.page-selector li img {
  width: 24px;
  height: 24px;
}

.page-numero.current-page {
  color: #4bcbaf;
}

.productos-por-page {
  text-align: right;
  padding: 20px;
}

.productos-por-page select {
  background: #ffffff url(../IMG/LOGOS/down-arrow-gris-claro.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  color: #757575;
  font-size: 14px;
  height: 30px;
  width: 50px;
  padding-left: 5px;
  margin-top: 10px;
  border: 1px solid #082b28;
  cursor: pointer;
  -webkit-appearance: none; /* Propiedad específica de WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Propiedad específica de Mozilla (Firefox) */
  appearance: none;
  outline: none;
  transition: all 0.3s ease;
}

.productos-por-page select:hover {
  background: #ffffff url(../IMG/LOGOS/down-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  border: 1px solid #4bcbaf;
}

.productos-por-page select:focus {
  border: 1px solid #4bcbaf;
  background: #ffffff url(../IMG/LOGOS/collapse-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
}

/* Estilos para la sección de Newsletter */
.newsletter {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #f1fcf8;
}

.newsletter h2 {
  display: inline-block;
  color: #184941;
}

.newsletter img {
  display: inline-block;
  width: 28px;
  height: auto;
  bottom: -6px;
  position: relative;
}

form {
  flex-direction: column;
  align-items: center;
}

label a {
  color: #4bcbaf;
  text-decoration: none;
}

input[type="email"] {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  height: 30px;
  border: 1px solid #082b28;
  margin-right: 5px;
  margin-left: 5px;
}

input[type="email"]:focus {
  border: 1px solid #4bcbaf;
  outline: none;
}

input[type="checkbox"] {
  margin-top: 10px;
}

.suscribirse {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  max-width: 100px;
  height: 30px;
  background-color: var(--puerto-rico-900);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.suscribirse:hover {
  background-color: var(--puerto-rico-400);
}
.newsletter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 252, 248, 1) 30%,
    rgba(208, 247, 235, 1) 100%
  );
  padding: 20px;
  z-index: 999;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.logo img {
  max-width: 200px;
}

.mensaje p {
  margin: 10px 0;
  color: var(--puerto-rico-900);
}

button {
  background-color: var(--puerto-rico-900);
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  background-color: var(--puerto-rico-400);
  transition: opacity 0.3s ease-in-out;
}

.error-correo,
.error-politica {
  display: none;
  color: red;
  padding-top: 10px;
}

/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #184941;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #082b28;
  border-top: 1px solid #082b28;
}

/* Estilos para cada columna del footer */
.footer-column {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column img {
  display: inline-block;
  width: 28px;
  height: auto;
  transition: all 0.3s ease;
}

/* Línea divisoria entre columnas */
.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  height: calc(100% - 40px);
  border-right: 1px solid #082b28;
}

/* Iconos de redes sociales en el footer */
.footer-column .facebook-icon:hover {
  content: url(../IMG/LOGOS/facebook-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .twitter-icon:hover {
  content: url(../IMG/LOGOS/twitter-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .instagram-icon:hover {
  content: url(../IMG/LOGOS/instagram-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .youtube-icon:hover {
  content: url(../IMG/LOGOS/youtube-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}
